{% extends "base.html" %}

{% block content %}

<div class="auth-wrap">
    <div class="auth-card">

        <div class="big-icon">🔐</div>

        <h2>Reset Password</h2>

        <p>Create your new password.</p>

        <form method="POST">

            <input
                name="password"
                type="password"
                placeholder="New password"
                required
            >

            <input
                name="confirm_password"
                type="password"
                placeholder="Confirm new password"
                required
            >

            <button class="btn primary full">
                Update Password 🔑
            </button>

        </form>

        <p>
            <a href="{{ url_for('login') }}">← Back to Login</a>
        </p>

    </div>
</div>

{% endblock %}